body {
    background-color: #001632;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    color: #000;
    width: 1000px;
    margin: 100px auto;
}

.red {
    background-color: #f00;
}

.yellow {
    background-color: #ff0;
}

.green {
    background-color: #0f0;
}


li {
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 10px;
}